<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:task="http://www.springframework.org/schema/task"

	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-3.0.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.0.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-3.0.xsd">


	<beans:bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<beans:property name="locations">
			<beans:list>
				<beans:value>classpath:conf/database.properties</beans:value>
				<beans:value>classpath:conf/application.properties</beans:value>
				<beans:value>classpath:conf/mail.properties</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>

	<util:map id="dbConfig">
		<beans:entry key="driver" value="${db.driver}" />
		<beans:entry key="dialect" value="${db.driver.dialect}" />
		<beans:entry key="showsql" value="${db.driver.showsql}" />
		<beans:entry key="ddl" value="${db.driver.generateddl}" />
		<beans:entry key="minpoolsize" value="${db.minpoolsize}" />
		<beans:entry key="maxpoolsize" value="${db.maxpoolsize}" />
		<beans:entry key="url" value="${db.url}" />
		<beans:entry key="username" value="${db.username}" />
		<beans:entry key="password" value="${db.password}" />
		<beans:entry key="cursor" value="${db.cursor}" />
		<beans:entry key="intial" value="${db.initialcon}" />
		<beans:entry key="increment" value="${db.increment}" />
	</util:map>

	<util:map id="appConfig">
		<beans:entry key="name" value="${app.name}" />
		<beans:entry key="version" value="${app.version}" />
		<beans:entry key="username" value="${app.admin.username}" />
		<beans:entry key="staticFilePath" value="${app.static.filepath}" />
		<beans:entry key="templatePath" value="${app.template.filepath}" />
		<beans:entry key="app.template.physicalpath" value="${app.template.physicalpath}" />
	</util:map>

	<util:map id="mailConfig">
		<beans:entry key="host" value="${app.smtp.host}" />
		<beans:entry key="port" value="${app.smtp.port}" />
		<beans:entry key="userid" value="${app.smtp.userid}" />
		<beans:entry key="password" value="${app.smtp.password}" />
		<beans:entry key="authenticate" value="${app.smtp.authenticate}" />
		<beans:entry key="starttls" value="${app.smtp.starttls}" />
		<beans:entry key="charset" value="${app.email.charset}" />
		<beans:entry key="admin.username" value="${app.admin.username}" />
		<beans:entry key="admin.email" value="${app.admin.email}" />
		<beans:entry key="error.email" value="${app.error.email}" />
		<beans:entry key="error.email.to" value="${app.error.email.to}" />
		<beans:entry key="error.email.cc" value="${app.error.email.cc}" />
		<beans:entry key="error.email.from" value="${app.error.email.from}" />
	</util:map>

    <!--  Mail Configuration  

	<beans:bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean"> 
		<beans:property name="resourceLoaderPath" value="classpath:conf/vm/"/>   
		<beans:property name="preferFileSystemAccess" value="false"/>
	</beans:bean>

    <beans:bean id="mailPropertiesLoader" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<beans:property name="host" value="#{mailConfig.host}" />
		<beans:property name="port" value="#{mailConfig.port}" />
		<beans:property name="username" value="#{mailConfig.userid}" />
		<beans:property name="password" value="#{mailConfig.password}" />
		<beans:property name="javaMailProperties">
			<beans:props>
            	<beans:prop key="mail.smtp.auth">#{mailConfig.authenticate}</beans:prop>
            	<beans:prop key="mail.smtp.starttls.enable">#{mailConfig.starttls}</beans:prop>
        	</beans:props>
		</beans:property>
	</beans:bean>
	-->
	<!-- ...................Implement Logging   starts .......................................... 
	
	<beans:bean id="log4jInitializer" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<beans:property name="staticMethod">
			<beans:value>org.springframework.util.Log4jConfigurer.initLogging</beans:value>
		</beans:property>
		<beans:property name="arguments">
			<beans:list>
				<beans:value>classpath:conf/log4j-config.xml</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basenames">
			<beans:list>
				<beans:value>main.java.com.mps.common.properties.label</beans:value>
				<beans:value>main.java.com.mps.common.properties.message</beans:value>
				<beans:value>main.java.com.mps.common.properties.error</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	-->

</beans:beans>